@charset "UTF-8";
/*
Author: Braydon Lynch
Date created: 02/016/23
Description: CSS file for resume page.
*/


/*@media only screen and (max-width: 480px) {
	Mobile Phone

  nav .mainMenu{
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    transition: top 1s ease;
    display: none;
  }
  nav .mainMenu{
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  nav .openMenu{
    display: block;
  }
  nav .mainMenu li a:hover{
    background: none;
    color: orange;
    font-size: 1.6rem;
  }
}
*/

@media (max-width: 935px){  /*@media only screen and (min-width: 481px) { */
 /*Tablet*/
  nav{
    padding: 0 2rem;
  }
  nav .nav-list .nav-item{
    padding: 0 20px;
  }
  /*
  .item1 { grid-area: header; }
  .item2 { grid-area: profileInfo; }
  .item3 { grid-area: workExperience; }
  .item4 { grid-area: contactInfo; }
  .item5 { grid-area: education; }
  .item6 { grid-area: skills; }
  .item7 { grid-area: references; }
  
  .grid-container {
    display: grid;
    grid-template-areas:
      'header header contactInfo'
      'profileInfo workExperience workExperience'
      'skills workExperience workExperience'
      'skills education education'
      'skills education education'
      'references references references';
    gap: 10px;
    background-color: white;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 20px 0;
    font-size: 30px;
    padding-left: 20px;
    border-bottom: solid black;
    border-right: solid black;
  }*/
}

@media (max-width: 675px){
  nav .nav-list{
    display: grid;
    position: absolute;
    background: grey;
    width: 100%;
    top: 75px;
    left: 0;
    transform: translateY(-100%);
    z-index: -1;
    transition: .6s;
  }
  nav .nav-list .nav-item{
    padding-left: 35px;
  }
  nav .navbar-toggler{
    display: grid !important;
  }
}
nav .navbar-toggler{
  display: none;
  height: min-content;
  margin: 18px -10px 0 0;
  cursor: pointer;
}
nav .navbar-toggler .bar{
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background: black;
  border-radius: 10%;
  transition: .4s;
}
input{
  display: none;
}
input:checked ~ nav .nav-list{
  transform: translateY(0);
}
input:checked ~ nav .navbar-toggler{
  margin-top: 35px;
}
input:checked ~ nav .navbar-toggler .bar:nth-child(1){
  position: absolute;
  transform: rotate(45deg);
}
input:checked ~ nav .navbar-toggler .bar:nth-child(2){
  display: none;
}
input:checked ~ nav .navbar-toggler .bar:nth-child(3){
  transform: rotate(-45deg);
}

/*@media only screen and (min-width: 801px) {
	Desktop
   header nav ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
   }
   header nav ul li {
      flex: 0 1 auto;
   }
}
*/

